// spacing$size-2
$spacing: 0.25rem;

// sizes
$size-1: $spacing * 1;
$size-1-5: $spacing * 1.5;
$size-2: $spacing * 2;
$size-2-5: $spacing * 2.5;
$size-3: $spacing * 3;
$size-3-5: $spacing * 3.5;
$size-4: $spacing * 4;
$size-4-5: $spacing * 4.5;
$size-5: $spacing * 5;
$size-5-5: $spacing * 5.5;

// border
$border-width: 1px;

// layout
$layout-width: 1076px;

// header
$header-height: 48px;

// sidebar
$sidebar-width: 150px;
