@use "mixins/fontMixins";

.input__wrap {
  display: inline-flex;
  flex-direction: column;
}

.label {
  &--error {
    color: var(--color-red-500);
  }

  &--small {
    @include fontMixins.font(sm);
  }

  &--medium {
    @include fontMixins.font(md);
  }

  &--large {
    @include fontMixins.font(lg);
  }
}

.input {
  width: 100%;
  color: var(--color-text);
  text-decoration-color: var(--color-red-500-50);
  background-color: transparent;
  border: 1px solid var(--color-surface-1);
  border-radius: 0.375rem;

  &:focus-visible {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-subtext-0);
  }

  &--error {
    border-color: var(--color-red-500);
  }

  &--small {
    @include fontMixins.font(sm);

    padding: 0.25rem 0.5rem;
  }

  &--medium {
    @include fontMixins.font(md);

    padding: 0.375rem 0.75rem;
  }

  &--large {
    @include fontMixins.font(lg);

    padding: 0.5rem 1rem;
  }
}

.input__error {
  margin-top: 0.2em;
  color: var(--color-red-500);
  outline-color: var(--color-red-500);

  &--small {
    @include fontMixins.font(xs);
  }

  &--medium {
    @include fontMixins.font(sm);
  }

  &--large {
    @include fontMixins.font(md);
  }
}
