@use './normalize.scss';
@use './variables/global.scss';
@use './themes/dark.scss';
@use './themes/light.scss';

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid var(--color-blue-500);
  box-shadow: inset 0px 0px 0px 3px var(--color-mantle);
  outline-offset: -2px;
}

::selection {
  background-color: var(--color-blue-500-30);
}

html,
body,
#root {
  height: 100%;
}

body {
  font: var(--font-md);
  background-color: var(--color-base);
  color: var(--color-text);
}

h1 {
  font: var(--font-3xl);
}

.container {
  max-width: var(--layout-width);
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Roboto";
  src: 
    url("./fonts/Roboto-Regular.woff2") format("woff2"), 
    url("./fonts/Roboto-Regular.woff") format("woff"), 
    url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: 
    url("./fonts/Roboto-Bold.woff2") format("woff2"), 
    url("./fonts/Roboto-Bold.woff") format("woff"), 
    url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}