:root {
  --font-family-main: 'Roboto', 'sans-serif';

  --font-size-sm: 0.875rem;
  --line-height-sm: calc(1.25 / 0.875);
  --font-sm: var(--font-size-sm) / var(--line-height-sm) var(--font-family-main);
  
  --font-size-md: 1rem;
  --line-height-md: calc(1.5 / 1);
  --font-md: var(--font-size-md) / var(--line-height-md) var(--font-family-main);

  --font-size-lg: 1.125rem;
  --line-height-lg: calc(1.75 / 1.125);
  --font-lg: var(--font-size-lg) / var(--line-height-lg) var(--font-family-main);

  --font-size-3xl: 1.875rem;
  --line-height-3xl: calc(2.25 / 1.875);
  --font-3xl: var(--font-size-3xl) / var(--line-height-3xl) var(--font-family-main);

  --border-width: 1px;
  
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;

  --layout-width: 1076px;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: var(--layout-width);

  --header-height: 48px;
}