@use "mixins/fontMixins";

.app-link {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &--underline {
    &:hover {
      text-decoration: underline;
    }
  }

  &--small {
    @include fontMixins.font(sm);
  }

  &--medium {
    @include fontMixins.font(md);
  }

  &--large {
    @include fontMixins.font(lg);
  }

  &--primary {
    color: var(--color-blue-500);
  }

  &--text {
    color: var(--color-text);
  }
}
