.loader {
  animation: spin 1s linear infinite;

  &--sm {
    width: 1rem;
    max-width: 1rem;
    height: 1rem;
    max-height: 1rem;
  }

  &--md {
    width: 1.25rem;
    max-width: 1.25rem;
    height: 1.25rem;
    max-height: 1.25rem;
  }

  &--lg {
    width: 1.5rem;
    max-width: 1.5rem;
    height: 1.5rem;
    max-height: 1.5rem;
  }

  &--xl {
    width: 1.75rem;
    max-width: 1.75rem;
    height: 1.75rem;
    max-height: 1.75rem;
  }

  &--2xl {
    width: 2rem;
    max-width: 2rem;
    height: 2rem;
    max-height: 2rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
