.oauth-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.oauth-page__loading-wrap {
  display: flex;
  gap: 0.5rem;
}

.oauth-page__github-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;

  path {
    fill: currentcolor;
  }
}

.oauth-page__link {
  margin-top: 0.5rem;
}
