@use "variables/breakpoints";
@use "variables/sizes";

.header__wrap {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--color-base);
  box-shadow: inset 0 -1px 0 var(--color-surface-0);
}

.header {
  height: sizes.$header-height;
  padding: 0 1rem;

  @media (max-width: breakpoints.$sm) {
    padding: 0 0.5rem;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__menu-item {
  list-style: none;
}

.header__menu-item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: auto;
}

.header__logo {
  height: 100%;
  padding-right: 2rem;

  svg {
    width: 100%;
    height: 50%;
  }
}
