.header__wrap {
  background-color: var(--color-crust);
  box-shadow: inset 0px -1px 0px var(--color-surface-0);
}

.header {
  height: var(--header-height);
}

.header__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  list-style: none;
}

.header__menu-item-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__logo {
  height: 100%;
  padding-right: 2rem;

  & svg {
    height: 50%;
    width: 100%;
  }
}