:root.dark {
  --color-rosewater: #f4dbd6;
  --color-flamingo: #f0c6c6;
  --color-pink: #f5bde6;
  --color-mauve: #c6a0f6;
  --color-red-700: hsl(351, 74%, 61%);
  --color-red-600: hsl(351, 74%, 66%);
  --color-red-500: hsl(351, 74%, 73%);
  --color-red-500-50: hsla(351, 74%, 73%, 0.5);
  --color-red-500-20: hsla(351, 74%, 73%, 0.2);
  --color-red-500-10: hsla(351, 74%, 73%, 0.1);
  --color-maroon: #ee99a0;
  --color-peach: #f5a97f;
  --color-yellow: #eed49f;
  --color-green: #a6da95;
  --color-teal: #8bd5ca;
  --color-sky: #91d7e3;
  --color-sapphire: #7dc4e4;
  --color-blue-700: hsl(220, 83%, 62%);
  --color-blue-600: hsl(220, 83%, 67%);
  --color-blue-500: hsl(220, 83%, 75%);
  --color-blue-500-50: hsla(220, 83%, 75%, 0.5);
  --color-blue-500-20: hsla(220, 83%, 75%, 0.2);
  --color-blue-500-10: hsla(220, 83%, 75%, 0.1);
  --color-lavender: #b7bdf8;
  --color-text: #cad3f5;
  --color-text-50: hsla(227, 68%, 88%, 0.5);
  --color-subtext-1: #b8c0e0;
  --color-subtext-0: #a5adcb;
  --color-overlay-2: #939ab7;
  --color-overlay-1: #8087a2;
  --color-overlay-0: #6e738d;
  --color-surface-2: #5b6078;
  --color-surface-1: #494d64;
  --color-surface-0: #363a4f;
  --color-base: #24273a;
  --color-mantle: #1e2030;
  --color-crust: #181926;
}