:root.dark {
  --color-rosewater: #f4dbd6;
  --color-flamingo: #f0c6c6;
  --color-pink: #f5bde6;
  --color-mauve: #c6a0f6;
  --color-red-700: hsl(351deg 74% 61%);
  --color-red-600: hsl(351deg 74% 66%);
  --color-red-500: hsl(351deg 74% 73%);
  --color-red-500-50: hsl(351deg 74% 73% / 50%);
  --color-red-500-20: hsl(351deg 74% 73% / 20%);
  --color-red-500-10: hsl(351deg 74% 73% / 10%);
  --color-maroon: #ee99a0;
  --color-peach: #f5a97f;
  --color-yellow: #eed49f;
  --color-green-600: hsl(105deg 48% 66%);
  --color-green-500: hsl(105deg 48% 72%);
  --color-green-500-20: hsl(105deg 48% 72% / 20%);
  --color-teal: #8bd5ca;
  --color-sky: #91d7e3;
  --color-sapphire: #7dc4e4;
  --color-blue-700: hsl(220deg 83% 62%);
  --color-blue-600: hsl(220deg 83% 67%);
  --color-blue-500: hsl(220deg 83% 75%);
  --color-blue-500-50: hsl(220deg 83% 75% / 50%);
  --color-blue-500-30: hsl(220deg 83% 75% / 30%);
  --color-blue-500-20: hsl(220deg 83% 75% / 20%);
  --color-blue-500-10: hsl(220deg 83% 75% / 10%);
  --color-lavender: #b7bdf8;
  --color-text: #cad3f5;
  --color-text-50: hsl(227deg 68% 88% / 50%);
  --color-subtext-1: #b8c0e0;
  --color-subtext-0: #a5adcb;
  --color-overlay-2: #939ab7;
  --color-overlay-1: #8087a2;
  --color-overlay-0: #6e738d;
  --color-surface-2: #5b6078;
  --color-surface-1: #494d64;
  --color-surface-0: #363a4f;
  --color-base: #24273a;
  --color-mantle: #1e2030;
  --color-crust: #181926;

  // shadow
  --shadow-floating-md:
    0 0 4px 1px rgb(0 0 0 / 25%), 0 8px 16px rgb(0 0 0 / 30%);
}
