:root.light {
  --rosewater-color: #dc8a78;
  --flamingo-color: #dd7878;
  --pink-color: #ea76cb;
  --mauve-color: #8839ef;
  --red-color: #d20f39;
  --maroon-color: #e64553;
  --peach-color: #fe640b;
  --yellow-color: #df8e1d;
  --green-color: #40a02b;
  --teal-color: #179299;
  --sky-color: #04a5e5;
  --sapphire-color: #209fb5;
  --blue-color: #1e66f5;
  --lavender-color: #7287fd;
  --text-color: #4c4f69;
  --subtext-1-color: #5c5f77;
  --subtext-0-color: #6c6f85;
  --overlay-2-color: #7c7f93;
  --overlay-1-color: #8c8fa1;
  --overlay-0-color: #9ca0b0;
  --surface-2-color: #acb0be;
  --surface-1-color: #bcc0cc;
  --surface-0-color: #ccd0da;
  --base-color: #eff1f5;
  --mantle-color: #e6e9ef;
  --crust-color: #dce0e8;
}