@use "variables/sizes";

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding-top: sizes.$header-height;
}
