.item {
  --btn-border-radius-override: none;
  --btn-justify-content-override: flex-start;
}

.item--toggled {
  --btn-color-override: var(--color-blue-500);
  --btn-hover-color-override: var(--color-blue-500);
  --btn-active-color-override: var(--color-blue-500);
}
