.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-surface-0);

  &__wrap {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  &__middle {
    margin-top: 0.15em;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--color-overlay-0);
    user-select: none;
  }
}
